<section id="about" class="d-flex flex-column justify-content-center align-items-center">

    <div class="container-fluid py-5">
        <div class="about-content text-white">
            <h1 class="fw-bolder text-center mb-3">ABOUT US</h1>



            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="para1 me-3 text-center">
                        <h2 class="mt-2">WEKA CINEMA</h2>
                        <p class="mt-3"> Weka Cinema is a platform that displays new movies in the highest quality available. There
                            is also a huge collection of modern, old and heritage movies.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>