
<section id="home" class="d-flex flex-column justify-content-center align-items-center">

    <div class="container-fluid">

        <div class="home-content text-center text-white">
            <img src="../../assets/images/pngwing.com (1).png" alt="avatar" class="shadow"/>

            <h1 class="mt-4"> <span class="fw-bolder">WEKA</span>  CINEMA</h1>

            <div class="text-center d-flex align-items-center justify-content-center my-3">
          
            </div>

            <div>
                <p >Welcome to our website</p>
            </div>



        </div>
    </div>
</section>